<%include ./partials/header%>

<h1>Hello from index page!</h1>

<%blogs.forEach(function(blog){ %>
    <div>
        <h2><%=blog.title%></h2>
        <img src="<%=blog.image%>">
        <%=blog.created%>
        <%=blog.body.substring(0, 100)%>...
        <a href="/blogs/<%=blog._id%>">Read more...</a>
    </div>
<% }); %>


<%include ./partials/footer%>